<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 7 - Changing the LED intensity using the wheel angle as an input device.</h1>
        <h2>Objective</h2>
        <p>In this example the wheel is used as an input to change the intensity of the LED.
            To manually set the joint angle to zero before you start, press the "A" and "B" buttons
            at the same time until the LED flashes. Then run the program to see what happens. Continue changing
            the joint one angle to see the LED change intensity. </p>
        <div hljs>
#!/usr/bin/env python3

# Filename: Lesson07.py

import linkbot

robot = linkbot.Linkbot()
robot.stop()

for _ in range(100):
    joint_one = robot.getJointAngle(1) # Get the angle for joint 1
    intensity=abs(int(joint_one*255/180)) # Convert from degrees to an integer
    robot.setLedColor(intensity,0,0) # Set the intensity of the red LED
        </div>
        <h2>Explore</h2>
        <p>Change the values to make the LED green and change intensity when the wheel is turned.</p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-six" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-eight-a" class="btn btn-default pull-right">Next</a>
        </div>
    </div>
</div>