<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h1>Lesson 2 - Blinking the LED at different rates.</h1>
        <h2>Objective</h2>
        <p>In this section you will learn how to make the LED blink on and off. You have probably
            noticed that we see blinking lights in several places. This section demonstrates the
            computer code that causes the lights to blink.</p>
        <div hljs>
#!/usr/bin/env python3

# Filename: Lesson02.py

import linkbot
import time

robot = linkbot.Linkbot()

for i in range (1,10):
robot.setLedColor(255,0,0)
time.sleep(.25)
robot.setLedColor(0,0,0)
time.sleep(.25)
        </div>
        <h2>Explore</h2>
        <p>Make the LED blink on and off at different rates.</p>
        <hr />
        <div class="clearfix">
            <a href="#/lesson-one" class="btn btn-default pull-left">Prev</a>
            <a href="#/lesson-three" class="btn btn-default pull-right">Next</a>
        </div>
    </div>
</div>